<ion-header mode="ios" collapse="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cartBadge.value === 0">No available cart items</div>
  <ion-list lines="full" class="cartItem_container">
    <ion-item-sliding *ngFor="let product of cart">
      <app-cart-item
        [product]="product"
        (addQtyHandler)="addQuantity($event)"
        (minusQtyHandler)="minusQuantity($event)"
        (saveCartHandler)="save($event)"
      ></app-cart-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(product)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div class="checkout">
    <div class="sub_total">
      Subtotal: <span>₱{{sub_total.toLocaleString()}}</span>
    </div>
    <button (click)="checkout(cart)">Checkout</button>
  </div>
</ion-content>
