ion-content {
    --background: #fff;
}

.cartItem_container {
    width: 100%;
    padding-bottom: 25vh;
    padding-top: 0;
    
    ion-icon {
        font-size: 1.2rem;
    }
    
}

.checkout {
    position: fixed;
    bottom: 0;
    width: 100%;
    .sub_total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        background: #fff;
        border-top: 1px solid var(--color-light-gray);
    }
    button {
        width: 100%;
        padding: 15px 0;
        font-size: 1rem;
        background: var(--color-secondary);
        color: var(--text-white);
    }

}