<ion-content>
  <div class="wrapper">
    <div class="container">
      <img src="../../../assets/imgs/undraw_deliveries.svg" alt="" />
      <h2>Welcome to iShop</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat
        porttitor neque, ut posuere risus laoreet nec. Nunc a porttitor nisi, et
        bibendum enim
      </p>
      <div class="action_btns">
        <button (click)="toLogin()">
          Login
        </button>
        <button (click)="toRegister()">
          Register
        </button>
      </div>
    </div>
  </div>
</ion-content>
