<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <form class="checkout_form" (ngSubmit)="placeOrder($event)">
    <div class="delivery__details">
      <p class="__title">Delivery Details*</p>

      <ul>
        <li>
          <input
            (change)="radioChanged($event)"
            type="radio"
            value="delivery"
            name="radio"
            id="delivery"
          />
          <label for="delivery"
            ><ion-icon name="thumbs-up"></ion-icon> Delivery</label
          >
        </li>
        <li>
          <input
            (change)="radioChanged($event)"
            type="radio"
            value="pickup"
            name="radio"
            id="pickup"
          />
          <label for="pickup"
            ><ion-icon name="thumbs-down"></ion-icon> Pick Up</label
          >
        </li>
      </ul>
      <div
        class="set set_address"
        *ngIf="deliveryIsChecked"
        (click)="setLocation()"
      >
        <div class="__left">
          <ion-icon name="location"></ion-icon>
          <p>
            Set address
            <span>{{ deliveryAddress || "" }}</span>
          </p>
        </div>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div
        class="set set_delivery_method"
        *ngIf="deliveryIsChecked"
        (click)="openDeliveryMethodModal()"
      >
        <div class="__left">
          <ion-icon name="bus"></ion-icon>

          <p>
            Delivery method
            <span>{{ deliveryMethod.value }}</span>
          </p>
        </div>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div class="date_time">
        <ion-grid>
          <ion-row>
            <ion-col size="2">Date:</ion-col>
            <ion-col class="text-right">{{ deliveryDate.value }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">Time:</ion-col>
            <ion-col class="text-right">8:00 AM - 5:00 PM</ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="notes">
        <p class="__title">Additional Notes</p>
        <ion-textarea
          name="notes"
          maxlength="150"
          placeholder="Additional instructions, notes & etc."
        ></ion-textarea>
      </div>

      <div class="summary">
        <p class="__title">Summary</p>
        <ion-grid>
          <ion-row>
            <ion-col>Subtotal ({{ totalNumberOfItems }} item/s):</ion-col>
            <ion-col class="text-right" size="4">₱{{ subtotal }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Delivery Charge:</ion-col>
            <ion-col class="text-right" size="4">₱{{ delivery_fee }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Total:</ion-col>
            <ion-col class="text-right" size="4">₱{{ total }}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <input class="form_submit" type="submit" value="Submit Order" />
  </form>
</div>
</ion-content>
