ion-icon {
    font-size: 1.3rem;
    color: var(--color-primary);
}

.cartBadge {
    background: var(--color-primary);
    color: var(--text-white);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin: 0;
}
